.header-nav .logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: block;
}

.logo {
  color: $accent-color;
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.1;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.03em;
}
